# Feature Droper

A transformer object that delete columns, according to the selected features

> from mlearner.preprocessing import FeatureDroper

## Example 1 - Droper features

Use the `fit` method to fit the column droped (e.g., the training dataset) to a new `FeatureDroper` object. Then, call the `transform` method on the same dataframe to apply drop.

In [21]:
import pandas as pd
from droper import FeatureDropper
X_train = pd.DataFrame({"a": [0, 1], "b": [10, 11], "c": [20, 21]})
fd = FeatureDropper(drop=["a", "b"]).fit(X_train)
fd.transform(X_train)

    c
0  20
1  21

## API

In [22]:
with open('../../api_modules/mlearner.preprocessing/FeatureDropper.md', 'r') as f:
    print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: '../../api_modules/mlearner.preprocessing/FeatureDropper.md'

In [26]:
set(X_train.columns)

{'a', 'b', 'c'}

In [28]:
set(["a", "b"])

{'a', 'b'}

In [33]:
X_train.columns.tolist()

['a', 'b', 'c']

In [52]:
lista = ["a", "d", "g", "c"]
for i in lis:
    if i not in X_train.columns.tolist():
        print("NO")

NO

In [53]:
[i for i in lista if i not in X_train.columns.tolist()]

['d', 'g']

In [73]:
import numpy as np
ok = [2, 2, 2, float('nan'), 4, 5]
ok
# np.median(ok)

[2, 2, 2, nan, 4, 5]

In [85]:
data_median = pd.DataFrame({"a": [2, 2, 2, 2, 4, 5], "c": ["OK", 2, 2, 2 ,4, 5]})
data_median

   a   c
0  2  OK
1  2   2
2  2   2
3  2   2
4  4   4
5  5   5

In [78]:
col = ["a"]

In [81]:
 isinstance(col, list)

True

In [103]:
data = pd.DataFrame({"a": [2, 2, 2, float('nan'), 4, 5], "b": ["OK", 2, 2, 2, 4, 5]})
data1 = pd.DataFrame({"a": [2, 5, 2, 5, 4, 5], "b": [2, 2, 2, 2, 4, 5]})

In [90]:
data.columns.tolist()

['a', 'b']

In [92]:
_lista = [i for i in ["a", "b"] if i not in data.columns.tolist()]
_lista

[]

In [107]:
_types = data1.dtypes

In [108]:
data1.astype(_types)

   a  b
0  2  2
1  5  2
2  2  2
3  5  2
4  4  4
5  5  5

In [113]:
data.dtypes

a    float64
b     object
dtype: object

In [114]:
x = data.select_dtypes(exclude=["object"]).columns

In [117]:
data[x].dtypes

a    float64
dtype: object

In [111]:
data1.astype(np.int32)

   a  b
0  2  2
1  5  2
2  2  2
3  5  2
4  4  4
5  5  5