# Feature Droper

A transformer object that delete columns, according to the selected features

> from mlearner.preprocessing import FeatureDroper

## Example 1 - Droper features

Use the `fit` method to fit the column droped (e.g., the training dataset) to a new `FeatureDroper` object. Then, call the `transform` method on the same dataframe to apply drop.

In [21]:
import pandas as pd
from droper import FeatureDropper
X_train = pd.DataFrame({"a": [0, 1], "b": [10, 11], "c": [20, 21]})
fd = FeatureDropper(drop=["a", "b"]).fit(X_train)
fd.transform(X_train)

    c
0  20
1  21

## API

In [22]:
with open('../../api_modules/mlearner.preprocessing/FeatureDropper.md', 'r') as f:
    print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: '../../api_modules/mlearner.preprocessing/FeatureDropper.md'

In [26]:
set(X_train.columns)

{'a', 'b', 'c'}

In [28]:
set(["a", "b"])

{'a', 'b'}

In [33]:
X_train.columns.tolist()

['a', 'b', 'c']

In [52]:
lista = ["a", "d", "g", "c"]
for i in lis:
    if i not in X_train.columns.tolist():
        print("NO")

NO

In [53]:
[i for i in lista if i not in X_train.columns.tolist()]

['d', 'g']

In [73]:
import numpy as np
ok = [2, 2, 2, float('nan'), 4, 5]
ok
# np.median(ok)

[2, 2, 2, nan, 4, 5]

In [85]:
data_median = pd.DataFrame({"a": [2, 2, 2, 2, 4, 5], "c": ["OK", 2, 2, 2 ,4, 5]})
data_median

   a   c
0  2  OK
1  2   2
2  2   2
3  2   2
4  4   4
5  5   5

In [78]:
col = ["a"]

In [81]:
 isinstance(col, list)

True

In [103]:
data = pd.DataFrame({"a": [2, 2, 2, float('nan'), 4, 5], "b": ["OK", 2, 2, 2, 4, 5]})
data1 = pd.DataFrame({"a": [2, 5, 2, 5, 4, 5], "b": [2, 2, 2, 2, 4, 5]})

In [119]:
data.mean()

a    3.0
dtype: float64

In [92]:
_lista = [i for i in ["a", "b"] if i not in data.columns.tolist()]
_lista

[]

In [107]:
_types = data1.dtypes

In [133]:
data1

   a  b
0  2  2
1  5  2
2  2  2
3  5  2
4  4  4
5  5  5

In [139]:
from sklearn.preprocessing import Imputer

C:\Users\AUTIS\Anaconda3\envs\Tensorflow 2.0\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[2., 2.],
       [5., 2.],
       [2., 2.],
       [5., 2.],
       [4., 4.],
       [5., 5.]])

In [172]:
data = pd.DataFrame({"a": [2, 2, 2, float('nan'), 4, 5], "b": ["OK", "OK", float('nan'), "OK", "OK", "NOK"]})
data

     a    b
0  2.0   OK
1  2.0   OK
2  2.0  NaN
3  NaN   OK
4  4.0   OK
5  5.0  NOK

In [148]:
data["b"].fillna(data["b"].value_counts().idxmax(), inplace=True)
data

     a    b
0  2.0   OK
1  2.0   OK
2  2.0   OK
3  NaN   OK
4  4.0   OK
5  5.0  NOK

In [155]:
data[["a", "b"]].value_counts().idxmax()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [114]:
x = data.select_dtypes(exclude=["object"]).columns

In [162]:
data["a"].dropna(axis=0, how="any", inplace=True)
data

     a    b
0  2.0   OK
1  2.0   OK
4  4.0   OK
5  5.0  NOK

In [117]:
data[x].dtypes

a    float64
dtype: object

In [111]:
data1.astype(np.int32)

   a  b
0  2  2
1  5  2
2  2  2
3  5  2
4  4  4
5  5  5

In [173]:
columns = data.columns
for col in columns:
    data[col].dropna(axis=0, how="any", inplace=True)

In [184]:
data.dropna(axis=0, how="any", inplace=True)

In [185]:
data

     a    b
0  2.0   OK
1  2.0   OK
4  4.0   OK
5  5.0  NOK

In [187]:
data.index

Int64Index([0, 1, 4, 5], dtype='int64')

In [190]:
x = data.reset_index()

In [191]:
x

   index    a    b
0      0  2.0   OK
1      1  2.0   OK
2      4  4.0   OK
3      5  5.0  NOK